body {
    background-color: #6f4e37d6;
    font-family: sans-serif;
    padding: 20px;
  }
  
  h1,h2 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  h3 {  font-size: 20px;}
  
  .established {  font-style: italic;}
  
  h1,h2,h3,p {  text-align: center;}
  
  .langmenu{
    display: block;
    /* position: fixed; */
    margin: auto 0 5px 15rem;
  }
  
  .menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }
  
  img {
    display: block;
    margin-top: -22px;
    margin-left: auto;
    margin-right: auto;
  }

  #contact>img{
    margin-top: 2px;
    max-width: 3vw;
  }
 
  hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
  }
  
  .bottom-line {
    margin-top: 25px;
  }
  
  h1,h2, h3 {
    font-family: Impact, serif;
  }
  
  .item p {
    display: inline-block;
    border-color: #0a0a23;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .flavor, .dessert {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%;
  }
  
  /* FOOTER */
  
  footer {  font-size: 14px;}
  
  .address {  margin-bottom: 5px;}
  
  a {  color: black;}
  
  a:visited {  color: black;}
  a:hover {  color: brown;}
  a:active {  color: brown;}
  
  
  .red {
    background: linear-gradient(180deg, rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
  }
  
  .green {
    background: linear-gradient(180deg, #55680D, #71F53E, #116C31);
  }
  .blue {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%),hsl(240, 56%, 42%));
  }
  .blue {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
    box-shadow: 0 0 20px 0 hsla(223,59%,31%,0.8);
  }